@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
body{
    background-color: #0f0e17;
    color: #fffffe;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 32px;
    font-family: 'Space Mono', monospace;
}

.title{
    text-align: center;
}
.calculator{
    margin:0px auto 128px;
    padding:36px;
    width: 30%;
    height: auto;
    background-color: #fffffe;
    color: #0f0e17;
    border-radius: 25px;
}


.display{
    background-color: #a7a9be;
    padding: 48px;
    border: 5px solid black;
    border-radius: 5px;
}


.numpad{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top:12px;
}


.btn{
    text-align: center;
    background-color: #ff8906;
    padding:39px;
    width: 22px;
    flex-grow: 0.25;
    border: 5px solid black;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.function-btn{
    background-color: #f25f4c;
}
.operator-btn{
    background-color: #e53170;
}

